{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!--visual-->
       <section class="visual">
          <ul class="slide">
              <li> <img src="{% static 'img/visualpiano1.jpg' %}" alt="슬라이드이미지1">
                <div class="txt">
                   <h3> Creative <br> Piano score <br> For training </h3>

                </div>
                <span class="scroll">Scroll down</span>
              </li>
              <li><img src="{% static 'img/visualpiano2.jpg' %}" alt="슬라이드이미지2">
                <div class="txt">
                   <h3>AI Composer <br> Sheet music <br> Service </h3>

                </div>
                <span class="scroll">Scroll down</span>
              </li>
              <li><img src="{% static 'img/visualpiano3.jpg' %}" alt="슬라이드이미지3">
                <div class="txt">
                   <h3> Simple & Convenient <br> Webservice </h3>
                   Start now<span class="lnr lnr-arrow-down"></span>
                </div>
                <span class="scroll">Scroll down</span>
              </li>
          </ul>
       </section>
       <!--contents-->
       <section class="contents">
           <div class="mainText animate" data-animate="fadeInUp" data-duration="1s" data-delay="0s">
               <h3>Piano Sheet music <br> for training </h3>
               <p>인공지능을 기반으로 한 악보 생성<br class="mo">
                   Like A Pianist는 초급자를 위한 연습용 피아노 악보를 제공합니다. <br class="mo">

                   <span>   악보 생성</span></p>
                   <p class="lead">
                     <a href="{% url 'endPage' %}" class="button gray"> Start </a>
                   </p>
           </div>
       </section>
{% endblock %}
